body{
	background-color: #D1E7EC;
	font-family: "Georgia";
	font-size: 15px;
}

h1{
	text-align: center;
	font-size: 50px;
}

h2{
	text-decoration: underline;
	font-size: 30px;
}

h4{
	font-style: italic;
}

a{
	all: unset;
}

a:hover{
	text-decoration: underline;
}

img{
	border: 1px solid #ddd;
	border-radius: 10px;
    padding: 6px;
    width: 275px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    border-style: solid;
    background-color: black;
}

#links{
	color: #396C9F;
	text-align: center;
	font-size: 30px;
}

.title{
	font-style: italic;
}





